<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cssl.mapper.VoteSubjectMapper">
    <!--查询投票集合-->
    <select id="findSubject" resultType="java.util.HashMap">
        SELECT s.vs_id, s.vs_title, COUNT(DISTINCT o.vo_id) AS choose, COUNT(DISTINCT i.vi_id) AS number
        FROM vote_subject s
                 LEFT JOIN vote_option o ON s.vs_id = o.vs_id
                 LEFT JOIN vote_item i ON s.vs_id = i.vs_id
        GROUP BY s.vs_id, s.vs_title
    </select>
    <!--根据id查询投票-->
    <select id="findSubjectBySid" parameterType="Integer" resultType="java.util.HashMap">
        SELECT s.vs_id, s.vs_title, COUNT(DISTINCT o.vo_id) AS choose, COUNT(DISTINCT i.vi_id) AS number,s.vs_type
        FROM vote_subject s
                 LEFT JOIN vote_option o ON s.vs_id = o.vs_id
                 LEFT JOIN vote_item i ON s.vs_id = i.vs_id
        WHERE S.vs_id=#{sid}
    </select>
</mapper>